/*----------------------------------------
  Fixed Footer Menu
------------------------------------------*/
.footer-menu{
    display: block;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    z-index: 998;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
  }
  .footer-menu.nonfixed{
    position: relative;
  }
  body.isfullscreen .footer-menu{
    background-color: transparent !important;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  .footer-menu ul{
    display: inline-block;
    width: 100%;
    padding: 7px 0px 0 0px;
    margin: 0px;
  }
  .footer-menu li{
    float: left;
    width: 20%;
    display: inline-block;
    height: 100%;
    text-align: center;
  }
  .footer-menu li a{
    display: inline-block;
    color: #546E7A;
  }
  .isfullscreen .footer-menu li a{
    color: #f5f5f5;
  }
  .footer-menu li i{
    display: block;
    font-size: 20px;
  }
  .footer-menu li span{
    display: block;
    font-size: 12px;
    line-height: 20px;
  }
  .footer-menu.circular li a.active{
    margin-top: -25px;
  }
  .footer-menu.circular li a.active span{
    color: var(--primary-color);
    margin-top: 5px;
  }
  .footer-menu.circular li a.active i{
    color: #ffffff;
      background-color: var(--primary-color);
      border-radius: var(--border-radius-50percent);
      height: 50px;
      width: 50px;
      line-height: 42px;
      margin-top: -4px;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
      -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
      border: 4px solid rgba(255,255,255,0.5);
  
  }
  
  .footer-menu.bg li a:hover,
  .footer-menu.bg li a.active{
    /* background: rgba(0,0,0,0.07); */
    /* color: var(--primary-color); */
  }
  
  [data-footer_menu="hide"] .footer-menu{
    display: none;
  }
  
  /*----------------------------------------
    Fixed Footer Menu - Light Style
  ------------------------------------------*/
  
  body [data-footer_menu_style="light"] .footer-menu{
    background-color: #ffffff;
  }
  body [data-footer_menu_style="light"] .footer-menu li a{
    color: #546E7A;
  }
  
  /*----------------------------------------
    Fixed Footer Menu - Dark Style
  ------------------------------------------*/
  [data-footer_menu_style="dark"] .footer-menu{
    background-color: #455a64;
  }
  [data-footer_menu_style="dark"] .footer-menu li a{
    color: #CFD8DC;
  }
  
  /*----------------------------------------
    Fixed Footer Menu - Colored Style
  ------------------------------------------*/
  [data-footer_menu_style="colored"] .footer-menu{
    background-color: var(--primary-color);
  }
  
  [data-footer_menu_style="colored"] .footer-menu.circular li a.active span,
  [data-footer_menu_style="colored"] .footer-menu li a{
    color: #f5f5f5;
  }
  
  [data-footer_menu_style="colored"] .footer-menu li a.active i{
    border-color: rgba(195,195,195,0.4);;
  }
  
  
  [data-footer_menu_style="colored"] .footer-menu.bg li a.active{
    /* background: rgba(0,0,0,0.07); */
  }
  
  
  [data-footer_menu="hide"] .page-footer{
    padding-bottom: 60px;
  }
  